.btn {
  height: 60px;
  width: 130px;
  border-radius: 9px;
  border-width: 1px;
  display: flexbox;
  border-style: solid;
  font-size: large;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn:active {
  background-color: var(--primary-deemed);
}

.construction {
  background: repeating-linear-gradient(
    -45deg,
    var(--primary),
    var(--primary) 9px,
    var(--bg-primary) 9px,
    var(--bg-primary) 18px
  );
  font-weight: bolder ;
  color: white;
  text-shadow: rgb(0, 0, 0) 0 0 5px;
  background-size: 400%;
  animation: animate 30s linear infinite;
  border-color: rgb(255, 251, 212);
}

.ready {
  background: rgb(255, 0, 0);
  font-weight: bolder ;
  color: white;
  text-shadow: rgb(255, 0, 0) 0 0 13px;
  background-size: 400%;
  animation: blinker 2s linear infinite;
  border-color: rgb(250, 85, 85);
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 400px;
  }
}

@keyframes blinker {
  50% {
    background: rgb(138, 1, 1);
  }
}
