@import url(colors.css);

.inline-code {
  border-width: 1px;
  display: inline;
  border-radius: 4px;
  border-style: solid;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 2px;
  margin-right: 2px;
  border-color: grey;
}

.code-block {
  display: grid;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  min-height: fit-content;
  padding: 4px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}