:root {
  --primary: rgb(253, 228, 8);
  --primary-deemed: rgb(214, 195, 26);
  --primary-light: rgb(255, 238, 86);
  --bg-primary: rgb(22, 22, 22);
  --bg-secondary: rgb(43, 43, 43);
  --primary-color: black;
  --bg-primary-color: white;
  --secondary-color: darkgrey;
  --bg-secondary-color: lightgrey;
}
.primary {
  background-color: var(--primary);
  border-color: var(--primary-light);
  color: var(--primary-color);
}
.bg-primary {
  background-color: var(--bg-primary);
  color: var(--bg-primary-color);
}
.bg-secondary {
  background-color: var(--bg-secondary);
  color: var(--bg-secondary-color);
}