
.navbar {
  width: 100%;
  height: 60px;
  z-index: 3;
  position: sticky;
  top: 0;
  display: grid;
  margin-top: 0;
  margin-bottom: 4px;
}

.navbar ul {
  font-size: larger;
  font-weight: bold;
  list-style: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar::before {
  display: grid;
  height: 10px;
  width: 100%;
  align-self: center;
  z-index: 3;
  background: repeating-linear-gradient(
    -45deg,
    var(--primary),
    var(--primary) 9px,
    var(--bg-primary) 9px,
    var(--bg-primary) 18px
  );
  content: "\200B";
}

.navbar::after {
  display: grid;
  height: 10px;
  width: 100%;
  align-self: center;
  z-index: 3;
  background: repeating-linear-gradient(
    -45deg,
    var(--primary),
    var(--primary) 9px,
    var(--bg-primary) 9px,
    var(--bg-primary) 18px
  );
  content: "\200B";
}


.navbar li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

.navbar .menu {
  color: var(--primary);
}