@import url(colors.css);

.widget-container {
  z-index: 3;
  position: sticky;
  top: 80px;
  border-width: 1px;
  border-radius: 7px;
  border-style: solid;
  display: block;
  width: fit-content;
  margin-top: 20px;
}

.widget {
  display: grid;
  margin-right: 5px;
  margin-left: 5px;
  margin-top:10px;
  margin-bottom: 10px;
  font-size: large;
  padding: 4px;
}

.widget:hover {
  border-radius: 7px;
  background-color: var(--bg-primary-color);
}

.left {
  float: left;
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 10px;
}