@import url(css/button.css);
@import url(css/colors.css);
@import url(css/textarea.css);
@import url(css/card.css);
@import url(css/menu.css);
@import url(css/navbar.css);
@import url(css/code.css);

body {
  background-color: var(--bg-primary);
  color: var(--bg-primary-color);
}

a {
  color: var(--primary);
}

a:visited {
  color: var(--primary-deemed);
}

:root {
  font-size: medium;
  font-family: monospace;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
}